{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="sub-section">

		<form id="messageForm" action="/contact" method="post">
			<fieldset>
				<legend>Contact Information</legend>
				
				{%- if errorDict -%}
				<ul class="errors">
				{% for key, value in errorDict.iteritems() %}
					<li>{{ value }}</li>
				{% endfor %}
				</ul>
				{% endif %}

				<p class="required-message">(* Required)</p>
				
				<ol>
					<li>
						<label for="name">Name</label>
						<span class="required">*</span>
						<input id="name" name="name" type="text" value="{{ messageForm.name }}"/>
						{%- if errorDict['name'] -%}
						<span class="error">{{ errorDict['name'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="email">Email</label>
						<span class="required">*</span>
						<input id="email" name="email" type="text" value="{{ messageForm.email }}"/>
						{%- if errorDict['email'] -%}
						<span class="error">{{ errorDict['email'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="subject">Subject</label>
						<span class="required">*</span>
						<input id="subject" name="subject" type="text" value="{{ messageForm.subject }}"/>
						{%- if errorDict['subject'] -%}
						<span class="error">{{ errorDict['subject'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="message">Message</label>
						<textarea id="message" name="message">{{ messageForm.message }}</textarea>
					</li>
				</ol>
			
			</fieldset>
		
			<fieldset class="submit">
				<input type="submit" value="Send Message" />
			</fieldset>
		</form>

	</section>
{% endblock %}