{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="sub-section">
	
		<header id="section-header">
			<h2>Message Received</h2>
		</header>
		
		<p>Thank you for contacting me. I will try to address your message in a timely manner.</p>
		<p>Here is the information I received:</p>
		<ul>
			<li><label>Name:</label> {{ contactForm.name }}</li>
			<li><label>Email:</label> {{ contactForm.email }}</li>
			<li><label>Subject:</label> {{ contactForm.subject }}</li>
			<li>
				<label>Message:</label>
				<p>{{ contactForm.message }}</p>
			</li>
		</ul>

	</section>
{% endblock %}