{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="sub-section">

		<form id="messageForm" action="/person/create" method="post">
			<fieldset>
				<legend>Person Form</legend>
				
				{%- if errorDict -%}
				<ul class="errors">
				{% for key, value in errorDict.iteritems() %}
					<li>{{ value }}</li>
				{% endfor %}
				</ul>
				{% endif %}

				<p class="required-message">(* Required)</p>
				
				<ol>
					<li>
						<label for="name">Name</label>
						<span class="required">*</span>
						<input id="name" name="name" type="text" value="{{ personForm.name }}"/>
						{%- if errorDict['name'] -%}
						<span class="error">{{ errorDict['name'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="email">Email</label>
						<span class="required">*</span>
						<input id="email" name="email" type="text" value="{{ personForm.email }}"/>
						{%- if errorDict['email'] -%}
						<span class="error">{{ errorDict['email'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="birthday">Birthdate</label>

						<ul>
							<li>
								<label for="birthYear">Year</label>
								<input id="birthYear" name="birthYear" type="text" value="{{ personForm.birthYear }}"/>
							</li>
							<li>
								<label for="birthMonth">Month</label>
								<input id="birthMonth" name="birthMonth" type="text" value="{{ personForm.birthMonth }}"/>
							</li>
							<li>
								<label for="birthDay">Day</label>
								<input id="birthDay" name="birthDay" type="text" value="{{ personForm.birthDay }}"/>
							</li>
						</ul>

						{%- if errorDict['birthdate'] -%}
						<span class="error">{{ errorDict['birthdate'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="phone">Phone</label>
						<input id="phone" name="phone" type="text" value="{{ personForm.phone }}"/>
						{%- if errorDict['phone'] -%}
						<span class="error">{{ errorDict['phone'] }}</span>
						{% endif %}
					</li>
					<li>
						<label for="gender">Gender</label>
						<ul>
							<li><input id="male" type="radio" name="gender" value="male" /><label for="male">Male</label></li>
							<li><input id="female" type="radio" name="gender" value="female" /><label for="female">Female</label></li>
						</ul>
					</li>
				</ol>
			
			</fieldset>
		
			<fieldset class="submit">
				<input type="submit" value="Create Person" />
			</fieldset>
		</form>

	</section>
{% endblock %}