{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="sub-section">

    	<p>Person Count <b>{{ personCount }}</b></p>

    	<table>
    		<thead>
	    		<tr>
	    			<th>key</th><th>email</th><th>name</th><th>gender</th><th>birthdate</th><th>created at</th><th>updated at</th><th>action</th>
	    		</tr>
    		</thead>
    		<tbody>
    		<tbody>
			{% for person in personList %}
				<tr>
			  		<td><a href="/person?id={{ person.key().id() }}">{{ person.key().id() }}</a></td>
			  		<td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
			  		<td>{{ person.name }}</td>
			  		<td>{{ person.gender }}</td>
			  		<td>{{ person.birthdate }}</td>
			  		<td>{{ person.createdAt }}</td>
			  		<td>{{ person.updatedAt }}</td>
			  		<td><a href="/person/delete?id={{ person.key().id() }}">delete</a></td>
			  	</tr>
			{% endfor %}
			</tbody>
		</table>

	</section>
{% endblock %}