{% extends "template.html" %}
{% block title %}Information{% endblock %}
{% set navTab0 = 'information' %}
{% block content %}
<header id="header-1">
    <h2>Information</h2>
</header>

<div class="grid">
    <div class="row">
        <div class="col12">

            <h3>Header 3</h3>

            <article>

            <div class="content-text">

            <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed adipiscing tellus sed diam tempus a mattis lorem bibendum. Pellentesque a elementum nunc. Praesent dui eros, dictum eu mollis in, elementum id ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In auctor pulvinar scelerisque. Donec placerat, leo cursus commodo pharetra, leo nisl dictum sem, nec vestibulum sapien purus bibendum dolor. Morbi fringilla, lorem ac pellentesque malesuada, orci dui malesuada sem, ut imperdiet tortor purus quis turpis. Nulla vel enim turpis. Curabitur in euismod magna. The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

            <h4>Header 4</h4>

            <p>Curabitur nec lorem sed nunc molestie facilisis eu non urna. Aenean egestas nunc non tellus aliquam sagittis. Sed rutrum, tellus a dapibus placerat, tellus arcu ultrices nunc, ut consequat mauris lorem quis purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ultricies condimentum felis, sed interdum neque venenatis eu. In hac habitasse platea dictumst. Nullam vulputate lacinia elit vitae feugiat.</p>

            <h4>Header 4</h4>

            <p>Can I get this <acronym title="as soon as possible">ASAP</acronym>? <a href="http://www.w3schools.com">Visit W3Schools.com!</a> My favorite color is <del>blue</del> <ins>red</ins>! This text contains <sub>subscript</sub> text. <span class="amp">&amp;</span> This text contains <sup>superscript</sup> text. WWF's goal is to: <q>build a future where people live in harmony with nature</q>. We hope they succeed.</p>

            </div>

            </article>

        </div>
    </div>
</div>

{% endblock %}