<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Michael Bessey" />

    <title>MSB Webapp2 - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/styles-src/app.css" />
    
</head>
<body>
    <div id="page" class="container container-fixed">
        <header id="header-0">
            <h1><a href="/">MSB Webapp2</a></h1>
        </header>
        <nav id="nav-0" class="nav-tabs nav-tabs-horizontal">
            <ul>
                <li {% if navTab0 == 'home' %}class="current-tab"{% endif %}>
                    <a href="/">Home</a>
                </li>
                <li {% if navTab0 == 'information' %}class="current-tab"{% endif %}>
                    <a href="/information">Information</a>
                </li>
                <li {% if navTab0 == 'home' %}class="current-tab"{% endif %}>
                    <a href="/contact">Contact Me</a>
                </li>
            </ul>
        </nav>
        <section id="section-0" class="clearfix">{% block content %}{% endblock %}</section>
        <aside></aside>
        <footer id="footer-0">
            <p>Copyright &copy; 2010. All Rights Reserved.</p>
        </footer>
    </div>
</body>