{% extends "template.html" %}
{% block title %}Error 500{% endblock %}
{% block content %}
    <section class="sub-section">

		<p>An unexpected error occurred in an otherwise perfect web application.</p>

	</section>
{% endblock %}