{% extends "template.html" %}
{% block title %}Error 404{% endblock %}
{% block content %}
    <section class="sub-section">

		<p>Oops! I could swear this page was here!</p>

	</section>
{% endblock %}