/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* -------------------------------------------------------------- 
  
   defaults.css
   * Establishes default browser CSS.
   
-------------------------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: Cambria, Georgia, Times, Times New Roman, serif;
  font-size: 1.4em;
  line-height: 2.5em;
  background-color: #eeeeee;
  padding: 0 2em 0 2em;
  color: #333333;
}
hr {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* start headings */
h1 {
  font-size: 4.8em;
  line-height: 2.4em;
}
h2 {
  font-size: 3.6em;
  line-height: 2.4em;
}
h3 {
  font-size: 2.4em;
  line-height: 2.4em;
}
h4 {
  font-size: 2.1em;
  line-height: 2.1em;
}
h5 {
  font-size: 1.8em;
  line-height: 2.1em;
}
h6 {
  font-size: 1.6em;
  line-height: 2.1em;
}
/* end headings */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  margin: 0;
  padding: 0;
}
/* start text */
a:hover {
  color: #ffa500;
}
a:active {
  color: #ff0000;
}
p {
  margin: 0 0 2.1em 0;
}
p.introduction:first-letter {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0.625em;
  float: left;
  font-size: 6.0em;
  margin-right: 0.1em;
  font-family: Cambria, Georgia, Times, Times New Roman, serif;
}
blockquote,
q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}
blockquote:before,
q:before {
  content: "\201c";
  font-weight: bold;
}
blockquote:after,
q:after {
  content: "\201d";
  font-weight: bold;
}
blockquote {
  text-indent: -0.5em;
  margin: 1.5em 0 1.5em 2.0em;
}
pre {
  font-family: monospace;
  margin: 1.5em 0 1.5em 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}
address {
  font-style: italic;
  font-size: 0.8em;
  line-height: 1.5em;
}
/* end text */
/* start lists */
ul {
  margin-bottom: 1.4em;
  list-style-type: disc;
}
ul li {
  margin: 0 0 0.25em 50px;
  line-height: 1.75em;
}
ul li ul {
  margin-top: 0.7em;
  list-style-type: square;
}
ul li ul ul {
  list-style-type: circle;
}
ol {
  margin-bottom: 1.4em;
  list-style-type: decimal;
}
ol li {
  margin: 0 0 0.25em 50px;
  line-height: 1.75em;
}
ol li ol {
  margin-top: 0.7em;
  list-style-type: lower-alpha;
}
ol li ol ol {
  list-style-type: lower-roman;
}
dl {
  margin: 0 0 1.5em 0;
  line-height: 1.4em;
}
dl dd {
  margin: 0 0 0 30px;
}
dl dt {
  margin: 0.25em 0 0.25em 0;
  font-weight: bold;
}
/* end lists */
/* start table */
table {
  margin: 0 0 1.5em 0;
}
table caption {
  padding: 0 0 0.5em 0;
  font-weight: bold;
}
table th {
  font-weight: bold;
  text-align: left;
}
table th,
table td {
  padding: 0.5em;
}
/* end table */
/* start form */
label {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
}
fieldset {
  padding: 2em;
  margin: 0 0 1.4em 0;
  border: 1px solid #333333;
}
fieldset legend {
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid #333333;
  border-bottom: none;
}
fieldset ul,
fieldset ol {
  list-style: none;
}
fieldset ul li,
fieldset ol li {
  margin: 0 0 0.5em 0;
}
fieldset ul li ul,
fieldset ol li ul,
fieldset ul li ol,
fieldset ol li ol {
  list-style: none;
}
input,
select,
textarea {
  margin: 0;
  padding: 2px;
  font-size: 1em;
  font-family: arial, helvetica, verdana, sans-serif;
}
input,
select {
  vertical-align: middle;
}
textarea {
  width: 24em;
  height: 8em;
}
input[type=text],
input[type=password],
textarea {
  clear: both;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */

  -webkit-box-sizing: border-box;
  /* Safari */

}
input[type=file] {
  width: 250px;
  height: auto;
}
input[type=readonly] {
  background-color: transparent;
  border: none;
}
input[type=image] {
  width: auto;
  height: auto;
  border: none;
}
/* end form */
/* start layout */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sub-nav ul {
  list-style-type: none;
}
#sub-nav ul li {
  margin: 0;
  padding: 0;
}
span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-size: 1.6em;
}
span.error {
  color: #ff0000;
}
span.warning {
  color: #ffff00;
}
span.info {
  color: #008000;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
/* end layout */